﻿
 
  <div  class="container-fluid"  >
		<div class="row page-titles">
			<div class="col-md-5 col-8 align-self-center">
				<h3 class="text-themecolor">Credit Card Transactions</h3>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#home">Home</a></li>
					<li class="breadcrumb-item active">Credit Card Transactions</li>
				</ol>
			</div>
		</div>
		<div class="card">
			
				<div class="card-header">Select Account</div>	
				<div class="card-body" >	
					<form  class="form-inline">
						<div class="form-group col-5">
							<label class="control-label" >Account Number(IBAN) </label>
							<select type="input" class="form-control form-control-sm col-12" id="selectCard" name="selectCard" ng-selected="y.AccountNumber" ng-model="selectedCard"  ng-options="y.AccountNumber for (x,y) in cardpayment" required required>
							 </select>
						</div>
						<div class="form-group col-4">
						   <label class="control-label " >Account Description</label>
							<input type="input" class="form-control form-control-sm col-12" id="cardType" name="cardType"  ng-readonly="true" ng-model="selectedCard.CardType" />
						</div>
						<div class="form-group col-3">
						   <label class="control-label" >Balance</label>
							<input type="input" class="form-control form-control-sm col-12" id="creditcardBalance" name="creditcardBalance"  ng-readonly="true" ng-model="selectedCard.Balance" />
						</div>
					</form>	
				</div>
		</div>
		
		<div class="card">
			
				<div class="card-header">Last ten transactions</div>	
				<div class="card-body" >	
					
					<table class="table table-bordered table-condensed table-striped table-hover table-sm"  >
						 <thead>
							<tr>
								<th>#
								</th>
								<th ng-click="sort('Date')" >Date
								<span class="fa fa-sort" ng-show="sortKey=='Date'" ng-class="{'fa fa-sort-up':reverse,'fa fa-sort-down':!reverse}"></span>
								
								</th>
								<th ng-click="sort('Transaction')" >Description
									<span class="fa fa-sort" ng-show="sortKey=='Transaction'" ng-class="{'fa fa-sort-up':reverse,'fa fa-sort-down':!reverse}"></span>
								
								</th>
								<th ng-click="sort('Amount')" >Amount
									 <span class="fa fa-sort" ng-show="sortKey=='Amount'" ng-class="{'fa fa-sort-up':reverse,'fa fa-sort-down':!reverse}"></span>
								</th>
								
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in creditcardTransactions | orderBy :sortKey:reverse">
								<td>{{ $index + 1 }}</td>
								<td>{{ x.Date }}</td>
								<td>{{ x.Transaction }}</td>
								<td>{{ x.Amount }}</td>
							</tr>
							
						
						
						</tbody>
					</table>
				
				</div>
		</div>
	
</div>	









