﻿
 
  
				<div class="row page-titles">
					<div class="col-md-5 col-8 align-self-center">
						<h3 class="text-themecolor">Credit Card Payment</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#home">Home</a></li>
							<li class="breadcrumb-item active">Credit Card Payment</li>
						</ol>
					</div>
				</div>
				
				
					<div class="card">
						
							<div class="card-header">From Account</div>	
							<div class="card-body" >	
								<form  class="form-inline">
									<div class="form-group col-5">
										<label class="control-label" >Account Number(IBAN) </label>
										<select type="input" class="form-control form-control-sm col-12" id="selectAccount" name="selectAccount"  ng-model="selectedAccount" ng-options="y.AccountNumber for (x,y) in account"required>
											
										</select>
									
									</div>
									<div class="form-group col-3">
									   <label class="control-label " >Account Description</label>
										<input type="input" class="form-control form-control-sm col-12" id="accountType" name="accountType"  ng-readonly="true" ng-model="selectedAccount.AccountType" />
									</div>
									<div class="form-group col-4">
									   <label class="control-label" >Balance</label>
										<input type="input" class="form-control form-control-sm col-12" id="currentBalance" name="currentBalance"  ng-readonly="true" ng-model="selectedAccount.CurrentBalance" />
									</div>
								</form>	
							</div>
						
						
					</div>
				
				
				
					<div class="card">
						
							<div class="card-header">To Credit Card</div>	
							<div class="card-body" >
								<form class="form-inline" >
							
									<div class="form-group col-5">
										<label class="control-label" >Cards Linked</label>
										<select type="input" class="form-control form-control-sm col-12" id="selectCard" name="selectCard"  ng-model="selectedCard"  ng-options="y.AccountNumber for (x,y) in cardpayment" required>
											
										</select>		
									</div>
									<div class="form-group col-3">
									   <label class="control-label" >Card Description</label>
										<input type="input" class="form-control form-control-sm col-12 " id="cardType" name="cardType"  ng-readonly="true" ng-model="selectedCard.CardType" />
									</div>
									<div class="form-group col-4">
									   <label class="control-label" >Balance</label>
										<input type="input" class="form-control form-control-sm col-12" id="creditcardBalance" name="creditcardBalance"  ng-readonly="true" ng-model="selectedCard.Balance" />
									
									</div>
								
								</form>
							</div>
					</div>
				
				
					<div class="card">
						
							<div class="card-header">Payment Details</div>	
							<div class="card-body" >
								<form  class="form-inline">
									<div class="form-group col-5">
									 <input class="form-control form-control-sm" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
									 <label class="control-label" for="inlineRadio1">Full Outstanding Amount</label>
									 <input class="form-control form-control-sm col-12" type="text" name="inlineRadioOptions" ng-readonly="true"  ng-model= "selectedCard.OutStandingAmount">
									</div>
									
									<div class=" form-group col-3">
									<input class="form-control form-control-sm" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
									<label class="control-label" for="inlineRadio2">Statement Due</label>
									<input class="form-control form-control-sm col-12" type="text" name="inlineRadioOptions" ng-readonly="true" ng-model="selectedCard.StatementDue" >
									</div>

									<div class=" form-group col-4">
									<input class="form-control form-control-sm" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
									<label class="control-label" for="inlineRadio3">Minimum Due</label>
									<input class="form-control form-control-sm col-12" type="text" name="inlineRadioOptions" ng-readonly="true"  ng-model="selectedCard.MinimumDue">
									</div>
								</form >
							</div>
					
					</div>
					<div class="card btnContainer">
						<div >
							<form  class="form-inline float-right">
								<div class="form-group">
									<label class="control-label btnContainerLabelDesc" >By proceeding i am accepting the</label> 
									<label class="control-label btnContainerLabelTermsDesc">Terms and Conditions</label>
									<button type="button" class="btn btn-secondary">Cancel</button>
									<button type="button" class="btn btn-primary ">Confirm payment</button>
								</div>
							</form >
						</div>
					</div>
					
					
				
	









