﻿
  
				<div class="row page-titles">
					<div class="col-md-5 col-8 align-self-center">
						<h3 class="text-themecolor">Credit Card Information</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#home">Home</a></li>
							<li class="breadcrumb-item active">Credit Card Information</li>
						</ol>
					</div>
				</div>
				
				<div class="card">
					<div class="card-header">Card Details</div>
					<div class="card-body">
						<div  class="row col-12" >
							<div class="form-group col-6">
								<label class="control-label" >First Name </label>
								<input type="input" class="form-control form-control-sm col-12" id="creditcardFirstName" name="creditcardFirstName" ng-readonly="true" ng-model="creditcard.FirstName">
							</div>
							<div class="form-group col-6">
								<label class="control-label" >Last Name</label>
								<input type="input" class="form-control form-control-sm col-12" id="creditcardLastName" name="creditcardLastName" ng-readonly="true" ng-model="creditcard.LastName">
							</div>
						</div>
						<div  class="row col-12" >
							<div class="form-group col-6">
								  <label class="control-label" >Card Number</label>
								<input type="input" class="form-control form-control-sm col-12" id="creditcardNumber" name="creditcardNumber"  ng-readonly="true" ng-model="creditcard.CardNumber" />
							</div>
							<div class="form-group col-6">
								<label class="control-label" >Card Type</label>
								<input type="input" class="form-control form-control-sm col-12" id="creditcardType" name="creditcardType" ng-readonly="true" ng-model="creditcard.CardType">
							</div>
							<div class="form-group col-6">
								<label class="control-label" >Expiry Date</label>
								<div class="form-inline">
									<input type="input" class="form-control form-control-sm col-6" id="creditcardExpiryMonth" name="creditcardExpiryMonth"  ng-readonly="true" ng-model="creditcard.ExpiryMonth" />
									<input type="input" class="form-control form-control-sm col-6" id="creditcardExpiryYear" name="creditcardExpiryYear"  ng-readonly="true" ng-model="creditcard.ExpiryYear" />
								</div>
							</div>
							<div class="form-group col-6">
								<label class="control-label" >Security Code</label>
								<input type="input" class="form-control form-control-sm col-12" id="creditcardSecurityCode" name="creditcardSecurityCode" ng-readonly="true" ng-model="creditcard.SecurityCode">
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">Billing Address</div>
					<div class="card-body">
						<div  class="row col-12" >
							<div class="form-group col-12">
								<label class="control-label" >Street Address</label>
								<input type="input" class="form-control form-control-sm col-12" id="creditcardStreetAddress" name="creditcardStreetAddress" ng-readonly="true" ng-model="creditcard.StreetAddress">
							</div>
						</div>
						
						<div  class="row col-12" >
							<div class="form-group col-6">
								<label class="control-label" >Country</label>
								<input type="input" class="form-control form-control-sm col-12" id="creditcardCountry" name="creditcardCountry" ng-readonly="true" ng-model="creditcard.Country">
							</div>
							<div class="form-group col-6">
								  <label class="control-label" >State/Province</label>
								<input type="input" class="form-control form-control-sm col-12" id="creditcardState" name="creditcardState"  ng-readonly="true" ng-model="creditcard.State" />
							</div>
							<div class="form-group col-6">
								<label class="control-label" >City</label>
								<input type="input" class="form-control form-control-sm col-12" id="creditcardCity" name="creditcardCity" ng-readonly="true" ng-model="creditcard.City">
							</div>
							<div class="form-group col-6">
								<label class="control-label" >Zip/Postal Code</label>
									<input type="input" class="form-control form-control-sm col-12" id="creditcardPostalCode" name="creditcardPostalCode"  ng-readonly="true" ng-model="creditcard.PostalCode" />
							</div>
							<div class="form-group col-6">
								<label class="control-label" >Phone</label>
								<input type="input" class="form-control form-control-sm col-12" id="creditcardNumber" name="creditcardNumber"  ng-readonly="true" ng-model="creditcard.Phone" />
							</div>
						</div>
					</div>
				</div>
				
	









