<div ng-message="required" >This field is required</div>
<div ng-message="minlength">This field is too short</div>
<div ng-message="maxlength">This field is too long</div>
<div ng-message="required">This field is required</div>
<div ng-message="email">This needs to be a valid email</div>
<div ng-message="pattern">Must be a valid 10 digit phone number</div>
<div ng-message="minlength">Message must be over 10 characters</div>
<div ng-message="maxlength">Message must not exceed 100 characters</div>