﻿
 
  
				<div class="row page-titles">
					<div class="col-md-5 col-8 align-self-center">
						<h3 class="text-themecolor">Account Information</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#home">Home</a></li>
							<li class="breadcrumb-item active">Account Information</li>
						</ol>
					</div>
				</div>
				
				
				<div class="card">
					<div class="card-body">
						
						<form >
							<div class="form-group col-12">
							   <label class="control-label" >Account Type</label>
								<input type="input" class="form-control form-control-sm col-5" id="accountType" name="accountType"  ng-readonly="true" ng-model="account.AccountType" />
							</div>
							<div class="form-group col-12">
								<label class="control-label" >Account Number</label>
								<input type="input" class="form-control form-control-sm col-5" id="accountNumber" name="accountNumber"  ng-readonly="true" ng-model="account.AccountNumber" />
							</div>
							<div class="form-group col-12">
							   <label class="control-label" >Account Holder Name </label>
								<input type="input" class="form-control form-control-sm col-5" id="accountHolderName" name="accountHolderName"  ng-readonly="true" ng-model="account.AcountHolderName"/>
							</div>
							<div class="form-group col-12">
							   <label class="control-label" >Current Balance</label>
								<input type="input" class="form-control form-control-sm col-5" id="accountBalance" name="accountBalance"  ng-readonly="true" ng-model="account.CurrentBalance" />
							</div>
							<div class="form-group col-12">
							   <label class="control-label" >Available Balance</label>
								<input type="input" class="form-control form-control-sm col-5" id="accountAvailableBalance" name="accountAvailableBalance" rows="5" ng-readonly="true" ng-model="account.AvailableBalance" />
							</div>
							
							<div class="form-group col-12">
							   <label class="control-label" >Currency</label>
								<input type="input" class="form-control form-control-sm col-5" id="currency" name="currency"  ng-readonly="true" ng-model="account.CurrencyCode" />
							</div>
						</form>	
					</div>			
				</div>
	









