﻿
 
  
				<div class="row page-titles">
					<div class="col-md-5 col-8 align-self-center">
						<h3 class="text-themecolor">Fund Transfer</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#home">Home</a></li>
							<li class="breadcrumb-item active">Fund Transfer</li>
						</ol>
					</div>
				</div>
				
				
					<div class="card">
						
							<div class="card-header">From Account</div>
							<div class="card-body" >	
								<form  class="form-inline">
									<div class="form-group col-5">
										<label class="control-label" >Account Number(IBAN) </label>
										<select type="input" class="form-control form-control-sm col-12" id="selectedAccount" name="selectedAccount"  ng-model="selectedAccount" ng-options="y.AccountNumber for (x,y) in account">
										 </select>
									</div>
									<div class="form-group col-4">
									   <label class="control-label " >Account Description</label>
										<input type="input" class="form-control form-control-sm col-12" id="accountType" name="accountType"  ng-readonly="true" ng-model="selectedAccount.AccountType" />
									</div>
									<div class="form-group col-3">
									   <label class="control-label" >Balance</label>
										<input type="input" class="form-control form-control-sm col-12" id="currentBalance" name="currentBalance"  ng-readonly="true" ng-model="selectedAccount.CurrentBalance" />
									</div>
								</form>	
							</div>
					</div>
				
				
				
					<div class="card">
						
							<div class="card-header">To Account</div>	
							<div class="card-body" >
								<form class="form-inline" >
									<div class="form-group col-5">
										<label class="control-label" >Account Number</label>
										<select type="input" class="form-control form-control-sm col-12" id="beneficiaryToAccount" name="beneficiaryToAccount"  ng-model="beneficiaryToAccount" ng-options="y.AccountNumber for (x,y) in beneficiaryAccount">
											
										</select>
									</div>
									<div class="form-group col-4">
									   <label class="control-label" >Beneficiary Name</label>
										<input type="input" class="form-control form-control-sm col-12 " id="beneficiaryName" name="beneficiaryName"  ng-readonly="true" ng-model="beneficiaryToAccount.AccountHolderName" />
									</div>
									<div class="form-group col-3">
									   <label class="control-label" >Bank Name</label>
										<input type="input" class="form-control form-control-sm col-12" id="bankName" name="bankName"  ng-readonly="true" ng-model="beneficiaryToAccount.BankName" />
									
									</div>
								</form>	
							</div>
					</div>
				
				
					<div class="card">
						
							<div class="card-header">Payment Details</div>	
							<div class="card-body" >
								<form class="form-inline" >
									<div class="form-group col-5">
										<label class="control-label" >Purpose of Payment</label>
											<input type="input" class="form-control form-control-sm col-12" id="purpose" name="purpose"  ng-model="purpose" required>
									</div>
									<div class="form-group col-4">
									   <label class="control-label" >Transfer Amount</label>
										<input type="input" class="form-control form-control-sm col-12 " id="transferAmount" name="transferAmount" ng-model="transferAmount" ng-pattern="/^[0-9]{1,5}$/" required />
									</div>
									
									<div class="form-group col-3">
									   <label class="control-label" >Transaction Fee</label>
										<input type="input" class="form-control form-control-sm col-12 " id="transactionfee" name="transactionfee"  ng-readonly="true" ng-model="transactionfee" />
									</div>
								</form>	
							</div>
					</div>
					<div class="card btnContainer">
						<div >
							<form  class="form-inline float-right">
								<div class="form-group">
									<label class="control-label btnContainerLabelDesc" >By proceeding i am accepting the</label> 
									<label class="control-label btnContainerLabelTermsDesc"> Terms and Conditions</label>
									<button type="button" class="btn btn-secondary">Cancel</button>
									<button type="button" class="btn btn-primary" ng-click="fundTransfer()">Transfer</button>
								</div>
							</form >
						</div>
					</div>
				
	









