﻿/*=============================================================
    Authour URI: www.rssolution.com
    100% To use For Personal And Commercial Use.
    ========================================================  */
/*==========================================
   CREATE CUSTOMER PAGE STYLES
    =====================================================*/
.page-head-line {
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    padding-bottom: 10px;
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 5px;
}
 
.custom-btn-primary {
    color: #fff;
    background-color: #3a5199;
    border-color: #2a1eec;
    width: 100px;
    font-size: 12px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}
 .form-group {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 5px;
	margin-bottom:10px;
}
.well-sm {
    padding: 9px;
    border-radius: 0px; 
    margin-top: 10px;
 }

.well {
    min-height: 20px;
    padding: 19px;
    /* margin-bottom: 20px; */
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); */
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); */
    
}

.row {
    margin-right: -10px;
    margin-left: -25px;
    /* margin-bottom: 10px; */
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    font-size: 12px;
    font-weight: lighter;
} 

.custom-help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #FF0000;
	font-size: 10px;
}

.error-messages.ng-active {
  background:#dc143c;
  color:white;
  padding:5px;
  border-radius:5px;
  margin-top:15px;
  position:relative;
}
.error-messages.ng-active:after {
  position:absolute;
  top:-10px;
  content:"";
  left:20px;
  border-style:solid;
  border-color:transparent transparent #dc143c;
  border-width:5px;
  
}
