﻿/*=============================================================
    Authour URI: www.rssolution.com
    100% To use For Personal And Commercial Use.
    ========================================================  */
/*==========================================
   CREATE CUSTOMER PAGE STYLES
    =====================================================*/
.page-head-line {
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    padding-bottom: 10px;
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 5px;
}
 .custom-a {
    font-size:12px;
    color: #2a1eec;
    text-decoration: underline;
	padding-left:10px;
}
  .custom-input-control {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
    margin: 10px;
}
.custom-btn-primary {
    color: #fff;
    background-color: #3a5199;
    border-color: #2a1eec;
    width: 100px;
    font-size: 12px;
}
.custom-actions-button {
    border: none;
    color: #3a5199;
    font-weight: bold;
    text-align: left;
    padding-left: inherit;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    position-top: 15px;
}

.custom-label {
	font-size: 9px;
	margin:10px;
	font-weight:lighter;
	
 }
.custom-searchpanel {
	line-height:5px;
	border:2px solid rgba(250, 249, 251, 0.95);
	margin:1px;
	border:1px solid rgba(250, 249, 251, 0.95)
}
.custom-formgroup {
	display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
}
.custom-th {
    text-decoration:none;
    background-color:#D5D6D2;
    color: black;
    font-size: 12px;
    font-weight: bold;
	border-color:#D5D6D2;
}
.custom-panel-heading {
    color: #333;
    /* background-color: rgba(250, 249, 251, 0.95); */
    border-color: rgba(250, 249, 251, 0.95);
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(250, 249, 251, 0.95);
    border-color: rgba(250, 249, 251, 0.95);
    padding: 5px 5px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #000000;
    background-color: #D5D6D2;
    border-color: #D5D6D2;
}

.custom-labelpagenumber{
	padding-left: 80px;
    font-size: 12px;
    color: black;
    display: inline-block;
	
}
.pagination {
     display: inline-block; 
     padding-left: 0; 
     margin: 0px 0; 
     border-radius: 4px; 
}
