﻿
 
  
				<div class="row page-titles">
					<div class="col-md-5 col-8 align-self-center">
						<h3 class="text-themecolor">Customer Information</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#home">Home</a></li>
							<li class="breadcrumb-item active">Customer Information</li>
						</ol>
					</div>
				</div>
				
				<div class="card">
					<div class="card-header"> Personal Information</div>
					<div class="row">
						<div class="col-6">
							<div class="card-body">
								<form  class="form-inline">
									
									<div class="form-group col-12">
									   <label class="control-label col-4" >Customer Number </label>
										<input type="input" class="form-control form-control-sm col-8" id="customerID" name="customerID"  ng-readonly="true" ng-model="customer.CustomerID" />
									</div>
									
									<div class="form-group col-12">
									   <label class="control-label col-4" >First Name </label>
										<input type="input" class="form-control form-control-sm col-8" id="name" name="name"  ng-readonly="true" ng-model="customer.FirstName"/ >
									</div>
									<div class="form-group col-12">
									   <label class="control-label col-4" for="pwd">Last Name</label>
										<input type="input" class="form-control form-control-sm col-8"" id="lastname" name ="lastname" ng-readonly="true" ng-model="customer.LastName" />
									</div>
									<div class="form-group col-12">
									   <label class="control-label col-sm-4" >Company</label>
										<input type="input" class="form-control form-control-sm col-8" id="company" name ="company"  ng-readonly="true" ng-model="customer.CompanyName"  />
									</div>
									<div class="form-group col-12">
									   <label class="control-label col-sm-4" >Position</label>
										<input type="input" class="form-control form-control-sm col-8" id="position" name ="position" ng-readonly="true"  ng-model="customer.Position" />
									</div>
								</form>			
							</div>
						</div>
						<div class="col-6">
							<div class="card-body">
								<form  class="form-inline">
									
									<div class="form-group col-12">
									   <label class="control-label col-4" >Status </label>
										<input type="input" class="form-control form-control-sm col-8" id="Status"  name="Status"  ng-readonly="true" ng-model="customer.Status" />
									</div>
									<div class="form-group col-12">
									   <label class="control-label col-4" >Email </label>
										<input type="input" class="form-control form-control-sm col-8" id="email" name="email"   ng-readonly="true" ng-model="customer.EmailAddress" />
									</div>
									<div class="form-group col-12">
									   <label class="control-label col-4" >Mobile </label>
										<input type="input" class="form-control form-control-sm col-8" id="mobile" name="mobile"  ng-readonly="true" ng-model="customer.Mobile" />
									</div>
									
									<div class="form-group col-12">
									   <label class="control-label col-4" >Business  </label>
										<input type="input" class="form-control form-control-sm col-8" id="business" name ="business" ng-readonly="true" ng-model="customer.Business" / >
									</div>
									<div class="form-group col-12">
									   <label class="control-label col-4" for="pwd">Fax </label>
										<input type="input" class="form-control form-control-sm col-8" id="fax" name ="fax"  ng-readonly="true" ng-model="customer.Fax" />
									</div>
									
								</form>			
							</div>
						</div>
					</div>
				</div>
				<div class="card">
						<div class="card-header"> Primary Address</div>
						<div class="card-body">
							<form class="form-inline">
								<div class="form-group col-12">
								  <label class="control-label col-2" >Street Address</label>
								  <textarea type="input" rows="3" class="form-control form-control-sm col-10 textarea"  id="pline1" name="pline1"  ng-readonly="true" ng-model="customer.PrimaryAddressLine1" ></textarea>
								</div>
								<div class="form-group col-12">
								  <label class="control-label col-2" >City</label>
								 <input type="input" class="form-control form-control-sm col-5" id="pcity" name="pcity"  ng-readonly="true" ng-model="customer.PrimaryAddressCity" />
								</div>
								<div class="form-group col-12">
								  <label class="control-label col-2" >State/Province</label>
								 <input type="input" class="form-control form-control-sm col-5" id="pstate" name="pstate" ng-readonly="true" ng-model="customer.PrimaryAddressState" />
								</div>
								<div class="form-group col-12">
								  <label class="control-label col-2" >Country</label>
								 <input type="input" class="form-control form-control-sm col-5" id="pcountry" name="pcountry"  ng-readonly="true" ng-model="customer.PrimaryAddressCountry" />
								</div>
							</form>
						
						</div>
					</div>
				
				
				

