<div  style="padding:38px">
	


	<div class="row col-12">
		<div class="col-1">
			
		</div>
		<div class="col-3">
			<div class="card" style="padding-bottom:0px;text-align:center">
					<div class="card-body" >	
						<a  class="customthumbnail" href="#customerinformation" >
							<img src="assets/img/customer.png"  alt="Customers" >
						</a>
					</div>
					 <h5 class="card-header w-100">Customer Information</h5>
					  
			</div>
		</div>
		<div class="col-3">
			<div class="card" style="padding-bottom:0px;text-align:center">
					<div class="card-body" >	
						<a  class="customthumbnail" href="#accountinformation" >
							<img src="assets/img/accountview.png"  alt="Account" >
						</a>
					</div>
					<h5 class="card-header w-100">Account Information</h5>
			</div>
		</div>
		<div class="col-3">
			<div class="card" style="padding-bottom:0px;text-align:center" >
					<div class="card-body" >	
						<a  class="customthumbnail" href="#fundtransfer" >
							<img src="assets/img/fundtransfer.png"  alt="fundtransfer" >
						</a>
					</div>
					<h5 class="card-header w-100">Fund Transfer</h5>
			</div>
		</div>	
		<div class="col-1">
			
		</div>
	
	</div>	

	<div class="row col-12">
		<div class="col-1">
			
		</div>
		<div class="col-3">
			<div class="card" style="padding-bottom:0px;text-align:center">
					<div class="card-body" >	
						<a  class="customthumbnail" href="#searchsuppliers" >
							<img src="assets/img/creditcard.png"  alt="Suppliers" >
						</a>
					</div>
					<h5 class="card-header w-100">Credit Card Information</h5>
			</div>
		</div>
		<div class="col-3">
			<div class="card" style="padding-bottom:0px;text-align:center">
					<div class="card-body" >	
						<a  class="customthumbnail" href="#creditcardinformation" >
							<img src="assets/img/cardstatement.png"  alt="cardinformation">
						</a>
					</div>
					<h5 class="card-header w-100">Credit Card Transactions</h5>
			</div>
		</div>
		<div class="col-3">
			<div class="card" style="padding-bottom:0px;text-align:center" >
					<div class="card-body"  >	
						<a  class="customthumbnail" href="#creditcardtransactions" >
							<img src="assets/img/carddetails.png"  alt="cardtransactions" >
						</a>
					</div>
					<h5 class="card-header w-100">Credit Card Payment</h5>
			</div>
		</div>
		<div class="col-1">
			
		</div>
	</div>	
</div>